   <header>
        <div class="container">
            <div id="logo"></div>
            <div id="messages"></div>
            <div id="notifications"></div>
            <div id="Login"></div>
        </div>
    </header>

    <div class="container">
        <div class="row">
          <div class="col-6 info-section">
            <img src="">
            <a href="#" class="inText"> IN </a>
          </div>
          <div class="col-6 image-section">
            <img src="">
            <a href="#" class="outText"> OUT </a>
          </div>
        </div>
    </div>
    <div class="comments-container">

    </div>

    <footer>
        <div class="container">
            <div id="Account"> Your Account </div>
            <div id="Discover"> Discover </div>
            <div id="About"> About In or Out </div>
        </div>
    </footer>
    
<script></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
