<!-- Header -->
<div class="header3">
    <div class="container-fluid header">
        <div id="logo" class="page3-logo"> IN or OUT</div>
        <div class="row">
            <div class="col" id="goBack"><i class="fas fa-home"></i></div>
            <div class="col" id="messages"> <i class="fas fa-envelope"></i> </div>
            <div class="col" id="notifications"> <i class="fas fa-bell"></i> </div>
            <div class="col" id="Login">
                <button id="profile-menu">
                    <picture>
                        <img id="userImage" alt="picture of user" src="https://images.unsplash.com/photo-1602788034509-f07ae0b32f33?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80">
                    </picture>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- info section -->
<div class="container-fluid info">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-6 info-section">
            <h2 id="activity-name">Name of the activity goes here</h2>
            <p class="activity category">Activity Category goes here</p>
            <p class="paragraph description">Here is where we will describe the activity</p>
            
          </div>
          <div class="col-12 col-md-12 col-lg-6 image-section">
            <img id="focused-image" src="https://images.unsplash.com/photo-1569186273859-0a3cf0a68568?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2081&q=80" alt="Photograph that represents the category of the activity">            
          </div>
        </div>
</div>
<!-- Horizontal line -->
<hr>
<!-- Comments section -->
<div class="comments-container">
        <div class="form-container">
            <div class="mb-3 textarea-container">
                <label for="exampleFormControlTextarea1" class="form-label"><h4>Leave a Comment!</h4></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
            <!-- Comments history -->
        <div class="comments-history">
            <h4 id="otherComments">What other people are saying:</h4>
            <p id="past-comment">Past comments go in paragraphs like this, separatated by lines like below</p>
            <hr id="hrComments">
            <p id="past-comment">Past comments go in paragraphs like this, separatated by lines like below</p>
            <hr id="hrComments">
            <p id="past-comment">Past comments go in paragraphs like this, separatated by lines like below</p>
            <hr id="hrComments">
            <p id="past-comment">Past comments go in paragraphs like this, separatated by lines like below</p>
            <hr id="hrComments">
            <p id="past-comment">Past comments go in paragraphs like this, separatated by lines like below</p>
            <hr id="hrComments">
            <p id="past-comment">Past comments go in paragraphs like this, separatated by lines like below</p>
            <hr id="hrComments">
            
        </div>

</div>
    
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>