<div class="header3">
    <div class="container-fluid header">
        <a href="/"><div id="logo" class="page3-logo"> IN or OUT</div></a>
        <div class="row">
            <div class="col" id="goBack"><i class="fas fa-home"></i></div>
            <div class="col" id="messages"> <i class="fas fa-envelope"></i> </div>
            <div class="col" id="notifications"> <i class="fas fa-bell"></i> </div>
            <div class="col" id="Login">
              <div class="btn-group">  
                        <button id="profile-menu">
                            <picture>
                                <img id="userImage" alt="picture of user" src="https://images.unsplash.com/photo-1602788034509-f07ae0b32f33?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80">
                            </picture>
                        </button>
                        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">

                            <a class="dropdown-item" href="/login">Login</a>
                            <a class="dropdown-item" href="/signup">Sign up</a>

   

                            
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-item" id="logout">Log out</div>
                        </div>
                    </div>  
            </div>
        </div>
    </div>
</div>
<!-- info section -->
<div class="container-fluid info">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-6 info-section">
            <h2 id="activity-name">Name of the activity goes here</h2>
            <p class="activity category">Activity Category goes here</p>
            <p class="paragraph description">rem ipsum dolor sit amet, consectetur adipiscing elit. Proin a tortor lacinia, egestas mauris in, cursus eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae purus tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus leo nulla, convallis id lacinia sit amet, vehicula ac dolor. Duis sed lacus tortor. Morbi vel odio molestie, pulvinar metus id, porta metus. Nam egestas volutpat odio ac gravida. Aliquam mollis risus at tortor interdum, et fermentum ligula lobortis. Suspendisse fringilla diam urna, a blandit nibh posuere ac. Praesent lorem orci, dapibus quis ipsum nec, faucibus semper ante. Nunc id tellus malesuada, egestas mi eu, congue lacus. Integer hendrerit ante non eros euismod, vel ornare tortor lobortis. Maecenas nec sapien laoreet nibh varius euismod ut eget nunc. Aliquam vel venenatis elit.</p>
            <br>        
            <div class="card-body">
                <a href="#" class="card-link">Go to the Webpage</a>
                <a href="#" class="card-link">Contact</a>
              </div>
          </div>
          <div class="col-12 col-md-12 col-lg-6 image-section">
            <img id="focused-image" src="https://images.unsplash.com/photo-1569186273859-0a3cf0a68568?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2081&q=80" alt="Photograph that represents the category of the activity">            
          </div>
        </div>
</div>
<!-- Horizontal line -->
<hr>
<!-- Comments section -->
<div class="comments-container">
        <div class="form-container">
            <div class="mb-3 textarea-container">
                <label for="exampleFormControlTextarea1" class="form-label"><h4>Leave a Comment!</h4></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <input type="submit" id="text1" value="Submit">
            </div>
        </div>
            <!-- Comments history -->
        <div class="comments-history">
          {{#each comments as |comment|}}
            <p id="past-comment" >{{comment.comment}}</p>
            <hr id="hrComments">
            {{/each}}
        
        </div>

</div>
    
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/js/final.js"></script>