<div class="background-image">
    <!-- Header -->
    <header>
        <div class="container-fluid header">
            <div id="logo"> IN or OUT</div>
            <div class="row">
                <div class="col" id="goBack"><i class="fas fa-home"></i></div>
                <div class="col" id="messages"> <i class="fas fa-envelope"></i> </div>
                <div class="col" id="notifications"> <i class="fas fa-bell"></i> </div>
                <div class="col" id="Login">
                    <button id="profile-menu">
                        <picture>
                            <img id="userImage" alt="picture of user" src="https://images.unsplash.com/photo-1602788034509-f07ae0b32f33?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80">
                        </picture>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <!-- Preferences -->
    
    <div class="container-fluid preferences-container">
{{!-- dynamically generate categories --}}
  {{#each categories as |category|}}
      <a class="filter filter1" href="/indoor/{{category.id}}">{{category.category_name}}</a>
    {{/each}}
        
    </div>
  </div>
    <!-- Activities -->
    <div class="container-fluid activities-container">
      <!-- First row -->
        <div class="row">
            {{#each indoors as |indoor|}}
          <div class="col-3 column">
            <!-- Card -->
          
            <div class="card" style="width: 18rem;">
              <img src={{indoor.image}} class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{indoor.activity_name}}</h5>
                <p class="card-text">Description</p>
              </div>




              <ul class="list-group list-group-flush">
                <li class="list-group-item">When :</li>
                <li class="list-group-item">Where :</li>                
              </ul> 
              <div class="card-body">
                <a href="/final" class="card-link">Go to the Webpage</a>
                <a href="#" class="card-link">Contact</a>
              </div>
            </div>    
            
          </div>
             {{/each}}
        
          
        </div>

       

    </div>

  
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
      <script></script>